<ng-container i18n>Intro </ng-container>

<nav>
  <ul>
    <li
      ><a
        i18n
        routerLink="/components"
        >Components</a
      ></li
    >
    <li
      ><a
        i18n
        routerLink="/change-detection"
        >Change detection</a
      ></li
    >
    <li
      ><a
        i18n
        routerLink="/providers"
        >Providers</a
      ></li
    >
    <li
      ><a
        i18n
        routerLink="/rxjs/api"
        >RxJS - API</a
      ></li
    >
    <li
      ><a
        i18n
        routerLink="/rxjs/subscriptions"
        >RxJS - Subscriptions</a
      ></li
    >

    <li
      ><a
        i18n
        routerLink="/rxjs/router-subscriptions"
        >RxJS - Router subscriptions</a
      ></li
    >

    <li
      ><a
        i18n
        routerLink="/components/template-styling"
        >Component - template + styling</a
      ></li
    >
  </ul>
</nav>

<hr />

<router-outlet></router-outlet>
